@{
    ViewData["Title"] = "Nhập Mật Khẩu";
}

<h1>@ViewData["Title"]</h1>

@if (ViewBag.ErrorMessage != null)
{
    <div class="alert alert-danger">
        @ViewBag.ErrorMessage
    </div>
}

<form asp-action="Password" method="post">
    <div class="form-group">
        <label for="inputPassword">Mật khẩu:</label>
        <input type="password" id="inputPassword" name="inputPassword" class="form-control" required />
    </div>
    <button type="submit" class="btn btn-primary">Xác nhận</button>
</form>

<h1>mật khẩu là:doannhanh123</h1>